<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

    <title>Login</title>

</head>

<body>
<!-- Navigation -->

<nav class="navbar">

    <div class="logo">
        MY PORTFOLIO
    </div>

    <div class="nav-links">

        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
        <a href="/login">Login</a>

    </div>

</nav>

    <h1>🔐 Login</h1>

    <form action="/login" method="POST">

        <input
            type="text"
            name="username"
            placeholder="Username"
            required
        >

        <input
            type="password"
            name="password"
            placeholder="Password"
            required
        >

        <button type="submit">Login</button>

    </form>

</body>
</html>